@import "~bootstrap-scss/functions";
@import "~bootstrap-scss/variables";

html,
body {
  height: 100%;
  width: 100%;
}

.page {
  flex: auto;
  height: 100%;
}

.container {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 85%;
  width: 100%;
}
