# Generated code
build/
node_modules/
package-lock.json

# Test outputs
coverage/
.nyc_output/

# Logs
yarn-*.log*
logs/**
!logs/.gitkeep

# IntelliJ
*.iml
.idea/

# Linux
*~
.Trash-*

# OSX
.DS_Store
._*

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions